body{
    background: url("https://img.freepik.com/free-vector/coffee-time-background-with-cup-plate_79603-1457.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    color: coral ;

}